@model QuadBike.Model.ViewModel.TripViewModels.ChangeTripViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Trip" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="TripName" class="control-label">Trip Name</label>
        <input type="text" asp-for="TripName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Type</label>
        <input type="text" asp-for="Type" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Distance" class="control-label">Distance</label>
        <input type="number" asp-for="Distance" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AmountOfPeople" class="control-label">Amount of People</label>
        <input type="number" asp-for="AmountOfPeople" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Start Date</label>
        <input type="datetime" asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="EndTrip" class="control-label">EndTrip</label>
        <input type="datetime" asp-for="EndTrip" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="number" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TripImg"></label><br />
        <input class="form-control" asp-for="TripImg" type="file" name="TripImg" />
        <span asp-validation-for="TripImg"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>