
@{
    ViewData["Title"] = "Error404";
}

<h1 style="align-content: center">Oopss... Not Found ;(</h1>
<img style="align-content:center" width="650" height="600" border="0" alt="test" src="~/images_default/a1.gif"/>