@model IEnumerable<QuadBike.Model.ViewModel.CommentViewModels.CommentViewModel>

@{
    ViewData["Title"] = "TestChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test Chat</h1>
<link rel="stylesheet" href="~/css/site.css" />

<div class="container">
    <div id="errorComment"></div>
    @if (User.IsInRole("user"))
    {
        /// Html.RenderPartial("AddComment");
        <div id="errorComment"></div>
        <form asp-controller="Comment" asp-action="Test" class="form-inline" role="form" name="formComment" id="formComment">
            <div class="form-group">
                <input type="hidden" id="idProvider" value="@ViewBag.ProviderId" />                                                                    @*hidden input !!!!!!!!!!!!!!!!! передать id *@
                <input class="form-control" type="text" placeholder="Your comments" name="inputContentComment" id="inputContentComment" />
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" id="addCom">Add</button>
            </div>
        </form>

        <br />
    }
    <div class="container" id="comments">
        @{Html.RenderPartial("TestComments", Model);}
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#formComment").submit(function (e) {
            return false;
        });

        $("#inputContentComment").keypress(function () {
            $("#formComment").validate({
                rules: {
                    inputContentComment: {
                        required: true,
                        maxlength: 5
                    }
                },
                messages: {
                    inputContentComment: {
                        required: "Required field",
                        maxlength: "Field must be at least 5 characters long"
                    }
                },
                submitHandler: function (form) {

                }
            });
        });

        $("#addCom").click(function () {

            var content = $("#inputContentComment").val();
            var providerId = $("#idProvider").val();

            $("#errorComment").empty();

            $.ajax({
                type: 'POST',
                url: '/Comment/Create',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    Content: content,
                    AccountId: providerId
                },
                success: function (result) {
                    $("#comments").append(result);
                },
                error: function (request, status, error) {
                    var i;
                    var answer = request.responseText.split(',');

                    var container = document.getElementById("errorComment");
                    for (var i = 0; i < answer.length; i++) {
                        $("#errorComment").append("<div id='alertError' class='alert alert-danger'>" + answer[i].replace(/[\[\]'"]+/g, "") + "<button type='button' class='close' data-dismiss='alert'>&times;</button></div>");
                    }
                }
            });
        });

        $("delCom").click(function () {
            var userId = $("#userIdCom").val();

            $.ajax({
                type: 'POST',
                url: '/Comment/Delete',
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: {
                    UserId: userId
                },
                success: function (result) {

                },
            });
        });
    });
</script>
