@{
    ViewData["Title"] = "CheckEmailIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hi, new user!</h1>
    <p class="lead">To complete the registration, check the email and click on the link indicated in the letter.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" asp-controller='Home' asp-action='Index'>Return to Home</a>
</div>