@model QuadBike.Model.ViewModel.AccountViewModels.LoginViewModel
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("moderator"))
    {
        <h3>Moder</h3>
        <div>
            <a asp-controller="Moder" asp-action="Index" class="btn btn-primary">Roles list</a>
            <a asp-controller="Moder" asp-action="UserList" class="btn btn-primary" >Users list</a>
        </div>
        <br />
    }
    else if (User.IsInRole("provider"))
    {
        <h3>Provider</h3>
        <div>
            <a class="btn btn-primary" asp-controller="Bike" asp-action="Index">Bikes List</a>
            <a class="btn btn-primary" asp-controller="Trip" asp-action="Index">Trips List</a>
        </div>
        <br />
    }
    else if (User.IsInRole("user"))
    {
        <h3>User</h3>
    }
    <div>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Index">Update Account</a>
    </div>
    <br />
    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input class="btn btn-danger" type="submit" value="Log Off" />
    </form>
}
else
{
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="col-3">
            <h2>Login</h2>
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe"></label><br />
                <div class="form-check">
                    <input class="form-check-input" asp-for="RememberMe" />
                </div><br />
            </div>
            <div>
                <a class="link text-primary" asp-controller="Account" asp-action="Register">I am not registered yet :(</a>
            </div>
            <br />
            <div>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </div>
    </form>
}