<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <script type="text/javascript" src="~/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/vendor/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img class="navbar-brand" style="height:auto" src="~/logo.png" width="200"/>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverses" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" style="font-size:larger">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ListTrips" style="font-size:larger">Trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ProviderList" style="font-size:larger">Providers</a>
                        </li>
                        @if (User.IsInRole("user"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index" style="font-size:larger">Cart</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-success" data-toggle="dropdown" href="#" id="dropdownMenuButton" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <p class="dropdown-header">Settings</p>
                                    <div class="dropdown-divider"></div>
                                    @if (User.IsInRole("moderator"))
                                    {
                                        <a asp-controller="Moder" asp-action="Index" class="dropdown-item">Roles list</a>
                                        <a asp-controller="Moder" asp-action="UserList" class="dropdown-item">Users list</a>
                                    }
                                    else if (User.IsInRole("provider"))
                                    {
                                        <a class="dropdown-item" asp-controller="Bike" asp-action="Index">Bikes List</a>
                                        <a class="dropdown-item" asp-controller="Trip" asp-action="Index">Trips List</a>
                                        <a class="dropdown-item" asp-controller="Bike" asp-action="OrderList">Orders List</a>
                                    }
                                    else if (User.IsInRole("user"))
                                    {
                                    }
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">Update Account</a>
                                    <div class="dropdown-divider"></div>
                                    <form method="post" asp-controller="Account" asp-action="LogOff">
                                        <input class="dropdown-item text-danger" type="submit" value="Log Off" />
                                    </form>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Sign Up</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <main style="width: 100%" role="main">
        <div style="width: 100%" class="container body-content">
            @RenderBody()
        </div>
    </main>
    <br />
    <footer class="footer mt-auto py-3">
        <div class="container">
                @*<div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 800px">
                    <iframe src="https://maps.google.com/maps?q=new%20minsk&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <br>*@
            <p>&copy; 2019 - Stay with us</p>
        </div>
    </footer>
</body>
</html>